*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color:#198754;
    box-sizing: border-box;
}

body,html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

/*主页*/
.nav-item.float-lg-end.me-4.text-center a i{
    font-size: 30px;
}
.dropdown-menu.border-0{
    min-width: 5rem;
}

.offcanvas-body>ul>li{
    line-height: 70px;
}
.carousel-inner  .carousel-item{
    max-height: 1000px;
}
.veg{
    bottom: -80px;
    background-color: #CBF0E0;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}
.content{
    margin-top: 300px;
}
.content_about_bg>div>div>img{
    max-width: 100%;
}
.carousel.slide>.carousel-inner{
    margin-bottom: 100px;
}
.sc{
    background-color: #CBF0E0;
}
.sc img{
    max-width: 100%;
}
.list-sc img{
    max-width: 100%;
}
/*小资蔬菜*/
.xzsc{
    font-size: 16px;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.footer{
    background-color: #CBF0E0
}
.footer input{
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    margin-bottom: 10px;
}
.footer ul{
    margin-bottom: 20px;
}
.footer ul>li{
    margin-bottom: 10px;
}
.footer ul>li>a{
    color:#198754;
}

/*弹出框 和按钮*/
button.btn_c.btn.btn-success.rounded-pill{
    z-index: 99;
}
.btn_c{
    position: fixed;
    right: -70px;
    bottom: 50%;
    transform: rotate(-90deg);
}

.modal-dialog{
    max-width: 50%;
    margin: 0 auto;
}
.modal-content{
    width: 1000px;

}
.modal-content h3{
    font-size: 2vw;
}
.modal-body.row ul{
    overflow-x: hidden;
    height: 450px;
}
.modal-body.row div p,.row.justify-content-around a{
    font-size: 1vw;
}
.modal-body.row ul li div:first-child{
    padding: 0;
    height: 0 !important;
    padding-bottom: 33.3%;
    text-align: center;

}
.modal-body.row .col-4.rounded-pill.bg-success{
    height: 130px;
}
.modal-body.row .col-4.rounded-pill.bg-success>i{
    font-size: 4vw;
    color: #fff;
    position: relative;
    top: 1vw;
}
@media screen and (max-width: 500px) {
    .modal-dialog{
        max-width: 100%;
        margin: 0 auto;
        font-size:7vw;
        top: 3vw;
    }
    .modal-body.row .col-4.rounded-pill.bg-success>i{
        color: #fff;
        position: relative;
        font-size: 7vw;
        top: 3vw;
    }
}

/*搜索按钮*/
.search{
   width: 100%;
    height: 220px;
}
.search a{
    top:25px ;
    right: 40px;
}

/*登入页面*/
.login{
    margin-top: 158px;
}
.login2{
    margin-top: 108px;
}
.login.dr div a{
    color: #666;
    text-decoration: underline;
    font-size: 16px;
}
.login.dr span,.login.zc span{
    font-size: 10px;
}


/*联系我们*/
.contact{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner.webp") no-repeat;);
    background-size: contain;
    font-weight: 900;
}

/*购物车*/
.shopping{
    margin-bottom: 77px;
}

.pay .modal-content{
    width: 400px;
    height: 400px;
}
/*商品详情*/
.commodity div.form-check{
    border: 1px solid #cccccc;
    line-height: 80px;
}
.commodity div.form-check input{
    position: relative;
    top: 24px;
    left: 4px;
}
.commodity .col-12.col-lg-6>span{
    font-size: 16px;
}
/*商品详情2*/
.commodity2>div>div:first-child>div{
    /*position: -webkit-sticky;*/
    position: sticky;
    top: 300px;
}

/*所有商品*/
.all {
    background-color: #CBF0E0
}
/*付款界面*/
.pay .modal-content{
    width: 400px;
    height: 600px;
}
.pay img{
    max-height: 100%;
}
.pay .modal-dialog-centered{
    justify-content: center;
}