<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <meta name="description" content="hellom">-->
<!--  <meta name="keywords" content="hellom">-->
<!--  <link rel="shortcut icon" href="img/banner.webp">-->
<!--  引入字体图标-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Bootstrap 的 CSS 文件 -->
  <link href="dist/css/bootstrap.css" rel="stylesheet" >
<!--  引入动画-->
  <link rel="stylesheet" href="css/animate.min.css">
  <!--art-template 每个不一样的地方占位-->
  {{block 'css'}} {{/block}}
  <title>菜鸟生鲜</title>
</head>
<body>

<!--导航条-->
<nav class="public_nav navbar bg-light navbar-light navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand " href="/index"><img src="img/logo.webp" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" >
      <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 ">
          <li class="nav-item me-5">
            <a class="active link-success"  href="/index">主页</a>
          </li>
          <li class="nav-item dropdown me-5">
            <a class="dropdown-toggle link-success" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" >
              所有产品
            </a>
            <ul class="dropdown-menu border-0 bg-light">
              <li><a class=" link-success" href="/vegetables">菜鸟蔬菜</a></li>
              <li><a class=" link-success" href="/fruit">精品水果</a></li>
            </ul>
          </li>
          <li class="nav-item me-5 ">
            <a class=" link-success" href="/contact">联系我们</a>
          </li>
        </ul>
        <div class="nav-item float-lg-end me-4 text-center pt-3">
          <a href="#" id="ss"  class="p-0 navbar-toggler d-inline border-0 link-success m-3" data-bs-toggle="offcanvas" data-bs-target="#nav_ss"><i class="bi bi-search"></i></a>
          <a href="/shopping" class="link-success m-3 position-relative "><i class="bi bi-handbag"></i><span  class="nav_shopping position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"></span></a>
          <a href="/my" id="my" class=" link-success m-3"><i class="bi bi-person"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--搜索框弹出模块-->
<div class="offcanvas offcanvas-end search " tabindex="-1" id="nav_ss" >
  <div class="offcanvas-header justify-content-end">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body container position-relative">
    <input type="text" class="form-control border-0 border-bottom" id="search_input" placeholder="搜索">
    <a href="#" id="search_ss" class="position-absolute"><i class="bi bi-search fs-4"></i></a>
    <h2 class="text-center pt-2"></h2>
  </div>
</div>

{{block 'content'}} {{/block}}


<!--页尾-->
<div class="container-fluid footer pt-5 pb-5 mt-5">
  <div class="container-fluid container-lg">
    <div class="row ">
      <div class="col-12 col-lg-4 text-center">
        <h2>菜鸟生鲜</h2>
        <ul>
          <li><a href="/all">所有产品</a></li>
          <li><a href="/vegetables">菜鸟蔬菜</a></li>
          <li><a href="/fruit">精品水果</a></li>
        </Ul>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <h2>菜鸟社区</h2>
        <ul>
          <li><a href="/contact">联系我们</a></li>
          <li><a href="">常见问题</a></li>
        </Ul>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <h2>菜鸟订阅</h2>
        <form>
          <div class="mb-3">
            <label for="formGroupExampleInput_in" class="form-label"></label>
            <input type="email" class="form-control border-0 border-bottom" id="formGroupExampleInput_in" placeholder="电子邮件地址">
          </div>
          <a href="/all"  type="button" class="btn btn-outline-success rounded-pill">立刻选购</a>
        </form>
      </div>
    </div>
  </div>
</div>


<!--侧边按钮-->
<button type="button" class="public_btn btn_c btn btn-success rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
  MEMBERSHIP
</button>
<!--弹出框-->
<div class="public_eject modal fade" id="exampleModal" tabindex="-1" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header  bg-success">
        <h5 class="modal-title text-white" id="exampleModalLabel">菜鸟积分</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body row">
        <div class="col-6">
          <p>EARN POINTS FOR ACTIONS</p>
          <ul>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success ">
                <i class="fa fa-birthday-cake"></i>
              </div>
              <div class="col-8">
                <h3>生日好礼</h3>
                <p> 200 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-user-o"></i>
              </div>
              <div class="col-8">
                <h3>创建账户</h3>
                <p> 15 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <div class="col-8">
                <h3>消费满10次</h3>
                <p> 800 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>每次消费</h3>
                <p> 1 Points Per $1.00</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-heart-o"></i>
              </div>
              <div class="col-8">
                <h3>邀请好友</h3>
                <p> 10% Off</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-birthday-cake"></i>
              </div>
              <div class="col-8">
                <h3>生日好礼</h3>
                <p> 200 Points</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <p>EARN POINTS FOR ACTIONS</p>
          <ul>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>$5.00 Off</h3>
                <p> 500 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>$10.00 Off</h3>
                <p>1000 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>$20.00 Off</h3>
                <p>2000 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>$5.00 Off</h3>
                <p> 500 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>$5.00 Off</h3>
                <p>500 Points</p>
              </div>
            </li>
            <li class="row mb-2">
              <div class="col-4 rounded-pill bg-success">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-8">
                <h3>每次消费</h3>
                <p> 1 Points Per $1.00</p>
              </div>
            </li>
          </ul>
        </div>
        <h3 class="text-center">Log in or sign up to earn rewards today</h3>
        <div class="row justify-content-around">
          <a href="" type="button" class="btn btn-success w-25" data-bs-dismiss="modal">返回</a>
          <a href="create.html" type="button" class="btn btn-success w-25" data-bs-dismiss="modal">创建账户</a>
        </div>
      </div>
      <div class="modal-footer justify-content-center p-0">
        <p>Powered BY SWELL</p>
      </div>
    </div>
  </div>
</div>


<!-- 包含 Popper 的 Bootstrap 集成包 -->
<script src="dist/js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.6.0.js"></script>
<script src="js/index.js"></script>
<script>
  //  搜索
  $("#search_input").on("change",function (e){
    e.preventDefault()
    e.stopPropagation()
    location.href="/search?s="+$(this).val()
  })
</script>
{{block 'js'}} {{/block}}
</body>
</html>