<!--引入模板-->
{{extend './public.html'}}

<!--css文件-->
{{block 'css'}}
<link rel="stylesheet" href="css/index.css">
{{/block}}

<!--内容-->
{{block 'content'}}
<!--蔬菜-->
<div class="container-fluid container-lg login  ">
    <div class="container list-sc">
        <h2 class="m-5 text-center">菜鸟蔬菜</h2>
        <div class=" row">
            {{each vegetable}}
            <div class="col-12 col-lg-6 p-3 border-bottom">
                <a href="/vegetable_commodity?id={{$value.id}}">
                    <div class="row">
                        <div class="col-8">
                            <h2>{{$value.title}}</h2>
                            <p>${{$value.price}}</p>
                            <p class="xzsc">{{$value.content}}</p>
                        </div>
                        <div class="col-4">
                            <img src=img/{{$value.img[0]}} alt="{{$value.title}}">
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/block}}


<!--js文件-->
{{block 'js'}}
{{/block}}
